.reveal section p {
  font-size: 0.5em !important;
}

.reveal section h2 {
  font-size: 0.8em !important;
}

.reveal section h1 {
  font-size: 1em !important;
}

.reveal section code {
  font-size: 0.8em !important;
}

.reveal section li {
  font-size: 0.5em !important;
}