/*/*/*_files/*
/*/*/*_cache/*
# /*/*_files/*
/*/*_cache/*
Assignments/*submission/*
Assignments/*/*.rds
Assignments/*/*.csv
Assignments/*/*.dta
Assignments/*/*.dbf
Assignments/*/*.shp
Assignments/*/*.prj
Assignments/*/*.shx
Assignments/*/*.png
Assignments/*/*.tif
Assignments/*/*.gpkg
Assignments/*/*.html
Assignments/*/*.DS_Store
.Rproj*
*/*.DS_Store
*/*/*.DS_Store
*/*.tex