/*/*/*_files/*
/*/*/*_cache/*
# /*/*_files/*
/*/*_cache/*
*.prj
*.tif
*.shp
*.shx
*.dbf
*.sbn
*.tfw
*.sbx
*.xml
Chapter-8-SpatialData/Data/*
Assignments/*submission/*
Assignments/*/*.rds
Assignments/*/*.csv
Assignments/*/*.dta
Assignments/*/*.dbf
Assignments/*/*.shp
Assignments/*/*.prj
Assignments/*/*.shx
Assignments/*/*.png
Assignments/*/*.tif
Assignments/*/*.gpkg
Assignments/*/*.html
Assignments/*/*.DS_Store
.Rproj*
*/.DS_Store
/.DS_Store
*/*/.DS_Store
*/*.tex
.Rproj.user
Video/*
Chapter-9*/*files/*
Chapter-9*/*cache/*